@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* In your CSS */
.rounded-video {
  border-radius: 50px; /* This can be omitted if you're using inline styles */
}




body {
  padding: 0 70px ;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    /* background: #170035; */
    background: #C7C7C7;
    overflow-x: hidden;
}

 



/* BLURRY BALL */
#blurry-ball {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: -100px; /* Adjust as needed to move down */
  left: 40px; /* Adjust as needed to move right */
  width: 300px; /* Diameter of the ball */
  height: 300px; /* Diameter of the ball */
  background-color:#A09CDF;
  border-radius: 50%; /* Makes it a circle */
  filter: blur(125px);
  z-index: -1; /* Ensure it doesn't overlap content */
}

#blurry-pink-ball {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: -50px; /* Adjust as needed to move down */
  left: 200px; /* Adjust as needed to move right */
  width: 300px; /* Diameter of the ball */
  height: 300px; /* Diameter of the ball */
  background-color:#D09DCF;
  border-radius: 50%; /* Makes it a circle */
  filter: blur(125px);
  z-index: -1; /* Ensure it doesn't overlap content */
}


#blurry-ball2 {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: 230px; /* Adjust as needed to move down */
  left: 1000px; /* Adjust as needed to move right */
  width: 300px; /* Diameter of the ball */
  height: 300px; /* Diameter of the ball */
  background-color:#A09CDF;
  border-radius: 50%; /* Makes it a circle */
  filter: blur(125px);
  z-index: -1; /* Ensure it doesn't overlap content */
}

#blurry-pink-ball2 {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: 180px; /* Adjust as needed to move down */
  left: 900px; /* Adjust as needed to move right */
  width: 300px; /* Diameter of the ball */
  height: 300px; /* Diameter of the ball */
  background-color:#D09DCF;
  border-radius: 50%; /* Makes it a circle */
  filter: blur(125px);
  z-index: -1; /* Ensure it doesn't overlap content */
}



/* Example media query for smaller screens */
@media screen and (max-width: 768px) {
  #blurry-ball2 {
    top: 150px;
    left: 500px;
    width: 20px;
    height: 150px;
  }
  #blurry-pink-ball2 {
    top: 150px;
    left: 100px;
    width: 20px;
    height: 20px;
  }
  #blurry-ball {
    top: -50px;
    left: 40px;
    width: 300px;
    height: 300px;
  }
  #blurry-pink-ball {
    top: -20px;
    left: -40px;
    width: 300px;
    height: 300px;
  }
}


#blurry-ball3 {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: 1000px; /* Adjust as needed to move down */
  left: 40px; /* Adjust as needed to move right */
  width: 300px; /* Diameter of the ball */
  height: 300px; /* Diameter of the ball */
  background-color:#A09CDF;
  border-radius: 50%; /* Makes it a circle */
  filter: blur(125px);
  z-index: -1; /* Ensure it doesn't overlap content */
}

#blurry-pink-ball3 {
  position: absolute; /* Position relative to the nearest positioned ancestor */
  top: 800px; /* Adjust as needed to move down */
  left: -40px; /* Adjust as needed to move right */
  width: 300px; /* Diameter of the ball */
  height: 300px; /* Diameter of the ball */
  background-color:#D09DCF;
  border-radius: 50%; /* Makes it a circle */
  filter: blur(125px);
  z-index: -1; /* Ensure it doesn't overlap content */
}


.gradient-button {
  background: linear-gradient(94deg, #C9A1C8 4.46%, rgba(186, 197, 255, 0.17) 55.23%, #A09CDF 102.36%);


  color: #fff; /* Adjust text color as needed */
  border: none; /* Remove default border */
   /* Adjust padding as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  /* Additional styling as needed */
}




/* about */
.team-member{
  border-radius: 10px 0px 30px 30px;

}


.getquotebanner{
  background:  linear-gradient(94deg, #C9A1C8 4.46%, rgba(186, 197, 255, 0.17) 55.23%, #A09CDF 102.36%);


}



.footer-shadow {
  position: relative;
  z-index: 1;
}

.footer-shadow::before {
  content: '';
  position: absolute;
  top: -10px; /* Position the shadow above the footer */
  left: 50%;
  width: 60%; /* Adjust width to control the spread of shadow */
  height: 10px; /* Adjust height to control the size of shadow */
  background: linear-gradient(94deg, #C9A1C8 4.46%, rgba(186, 197, 255, 0.17) 55.23%, #A09CDF 102.36%); /* Shadow color */
  transform: translateX(-50%) scaleX(1.5); /* Center and stretch the shadow */
  filter: blur(5px); /* Blur the shadow */
  z-index: -1;
}



.form-input input, .message-form::placeholder {
  padding: 15px 20px;
  
  color: white; /* Text color */
}

.form-input input::placeholder , .message-form::placeholder{
  color: white; /* Placeholder text color */
}







@media screen and (max-width: 768px) {
  .fixed-video {
    position: static;
    width: 100%;
  }
}








/* FADE ANIMATION */

/* Initial state: not visible */


.fadeInOnScroll {
  opacity: 0;
  visibility: hidden; /* Ensure it starts completely invisible */
  transform: translateY(50px);
  transition: opacity 1.5s ease-out, visibility 0s linear 1.5s, transform 1s ease-out; /* Smooth transition */
}

/* State when the element becomes visible */
.visible {
  opacity: 1;
  visibility: visible; /* Make it fully visible */
  transform: translateY(0);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out; /* Maintain smooth transition */
}




/* slide from right */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: 1s ease-out 0s 1 slideInFromRight;
}



/* Packages animation */

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 1s ease-out forwards;
}



.gradient-logo {
  font-size: 30px; /* Adjust the size as needed */
  font-weight: bolder; /* Optional: if you want bold text */
  background: linear-gradient(94deg, #c57dc2 4.46%, rgba(111, 128, 213, 0.17) 55.23%, #776fe4 102.36%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
  -webkit-text-fill-color: transparent; /* For Webkit browsers */

}




/* SLIDER */
.slider-container {
  max-width: 100vw; /* Viewport Width */
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* For positioning inner elements */
  margin: auto; /* Center the slider */
}


@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.service-slider {
  display: flex;
  will-change: transform;
  animation: slide 10s linear infinite; /* Adjust duration as needed */
}

.service-box {
  flex: 0 0 auto; /* This ensures that the boxes don't shrink or grow */
}

